subscription_id                     = "<subscription-id>"
storage_account_name                = "replacewithuniquename"
admin_object_id                     = "<your-entra-object-id>"
polaris_service_principal_object_id = "<polaris-service-principal-object-id>"
admin_source_cidr                   = "<your-public-ip>/32"
ssh_public_key_path                 = "~/.ssh/id_ed25519.pub"
location                            = "southeastasia"
