AIRFLOW_UID=1000

SNOWFLAKE_ACCOUNT=<organization-account>
SNOWFLAKE_USER=STREAMIFY_DBT
SNOWFLAKE_PRIVATE_KEY_PATH=/opt/airflow/secrets/snowflake_rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=<private-key-passphrase>
SNOWFLAKE_ROLE=STREAMIFY_TRANSFORMER
SNOWFLAKE_DATABASE=STREAMIFY
SNOWFLAKE_WAREHOUSE=STREAMIFY_TRANSFORM_WH
