AIRFLOW_UID=1000

SNOWFLAKE_ACCOUNT=<organization-account>
SNOWFLAKE_USER=<service-user>
SNOWFLAKE_PASSWORD=<password>
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_DATABASE=STREAMIFY
SNOWFLAKE_WAREHOUSE=TRANSFORMING
